@model IEnumerable<WebApplication3.Models.IlVeriGirisGunluk>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PoliklinikSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HastaneSevkSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SinirdanGirisYapanSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HastanePoliklinikSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HastanedeYatanHastaSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DogumSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmeliyatSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VeriGirisTarihi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PoliklinikSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HastaneSevkSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinirdanGirisYapanSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HastanePoliklinikSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HastanedeYatanHastaSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DogumSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmeliyatSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeriGirisTarihi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
