@model IEnumerable<WebApplication3.Models.Kamp>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KampAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IptalMi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcilisTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamPoliklinikSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamHastaneSevkSayisi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KampAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IptalMi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcilisTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamPoliklinikSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamHastaneSevkSayisi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
