@model IEnumerable<WebApplication3.Models.Il>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IlAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamPoliklinik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToplamHastaneSevkSayisi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IptalMi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IlAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamPoliklinik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamHastaneSevkSayisi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IptalMi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
